<div class="center jumbotron">
    <h1>Northeast Wisconsin Hockey</h1>
    <p>Your home for hockey in northeast Wisconsin hockey</p>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"%>
</div>
